<main>
    <article>
    <h1>Salve e benvenuti sulla demo di The-Simone</h1>
    <p>Piaceredi conoscervi sono Simone da come avrete potuto intuire, questo piccolo sito
        nasce da un esigenza lavorativa. Sono uni sviluppatore Java BE , quindi io e css non andiamo molto daccordo.
        Conuqne ritornando al punto, il sito nasce da l'esigenza di poter provare dei servizi da sviluppare 
        lato lavorativo avendo un minimo di FE davanti a me e poter testare i vari flussi e use-case.
        Postman ti amo non ti tradito mai, e stato solo per questa volta cit.
        Ironiamo a parte colgo l'occasione di questa home su per lasciarvi piu info su di me e una piccola presentazione del progetto
    </p>
    </article>
    <article>
      <h2>Demo-Project</h2>
      <p>Il progetto e diviso in varie parti, questa di FE che un giorno provero a far diventare app da cui parte il tutto.
          la request arriva a SEOR (Orchestatore di sicurezza che smista le varie chiamate sui vari microservizi).
          Un BE con una serie di servizi collegati a di (Per ovvia comodità sono tutti su un unico ex-microservizio ora piu simile a monolite)
          E un altro BE che effettua operazioni che non richiedono DB. per far funzionare il tutti i vari servizi di app dovrete 
          avviare tutti e 3 i cluster di BE. ( se vi state chiedendo perche non ho buttato tutto su docker la risposta e che lavoro da macbook per progetti personali
          quindi usare docker è uscluso per un fattore di bestemmie e tempo a disposizione).
          oltre questo dovrette settare il vostro db visto che al momento e puntato sul mio in locale.
          Il db usato è PostGreSQL la workbanch si chiama PgAdmin nel caso lo scordaste come il sottoscritto. 
      </p>
    </article>
  
    <article>
      <h2>Che cosa fa</h2>
      <p>Il software si occupa di simulare le vale operazioni che avvengono su app bancaria, tutto il codice è scritto da 0 ed di pura fantasia
           una semplice demo per dimostrare quelle che sono le mie skill e conoscenze in ambito dello sviluppo sfotware in ambito bancario.
           per ovvie ragioni qui non trovere e non verra proposto il codice o la logica implementata nei vari software bancari in cui ho lavorativo
           , in allegato su git oltre i vari codici sorgenti trovete anche il sacro graal la documentazione! Architettura, use-case, e singole api
           scritto da me su relativa demo.
      </p>
    </article>
  
    <article>
      <h2>Chi Sono</h2>
      <p>Mi chiamo Simone Piccirilli e sono uno sviluppatore Java. Non basta vero? Ok continuo ,
          Mi occupo di sviluppo di servizi e microservizi in ambito bancario.
          Scrivo documentazione , faccio reverse engine , scrivo use-case , gestisco defect, e risolvo problemi cit.
          Mi occupo di sviluppo lato BE , conosco architetture a  microservizi e monoliti, scrivo un sacco di Junit test 
          , ed odio SonarQube. Amo Kubernates e Kibana odio WebLogic e derivati ma a l'occorrenza conosco entrambi.
          Git , Jenkis, BitBucket sono dei fratelli, se usate svn invece non scrivetemi , non ho soldi per l'analista.
          Per il resto studio Framework tipo Angular 5- 12 nel tempo libero e altri framework che custodisco gelosamente!
          Il mio tessooooroo cit. 
      </p>
    </article>
  </main>

  